.section-book a {
    margin: 20px 0px 0px 0px;

    font-weight: bold;
}

.pad{
  padding-top: 15px;
}

.radius{
  border-radius: 40px;
  background-color: #2196F3;
}

.btn-hover:hover {
  transition: all 265ms ease-in;
  background-color: #305BB2;
}

.btn-hover:focus{
  transition: all 265ms ease-in;
  background-color: #305BB2;
}
