.footer {
  padding-bottom: 30px;
  padding-top: 15px;
}

.footer-component{
  background-color: #305BB2;
}

.github{
  padding-top: 10px;
  padding-bottom: 12px;
}

.github i:hover {
  color: #a8bbeb;
  transition: all 265ms ease-in-out;
  transform: scale(1.2);
}

.github i:before{
  transition: all 265ms ease-in-out;
  transform: scale(1.0);
}

.dev-logo {
  padding: 10px;
}
