.pad{
  padding-bottom: 50px;
}

.btn{
  background-color: #2196F3;
}

.with-header{
  padding-bottom: 10px;
}

.btn-hover:hover {
  transition: all 265ms ease-in;
  background-color: #305BB2;
}

.btn-hover:focus{
  background-color: #2196F3;
}

.cor {
  background-color: #3F51B5;
}