/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.social {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}


.rodape{
 border:1px solid red;
 min-width: 100%;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  color: black;
  
  
  margin-bottom: 50px;
  display: flex;

  margin: 0 auto;
}

.copyright{
  border: 1px solid red;
  margin: 50px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
  
}

 .git{
   border: 2px solid black;
  border-radius: 50%;
  color:black;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 48px;
  height: 48px;
}

.git:hover{
   
  color: white;
  background: blue;
  border:2px solid blue;
  transition: all 600ms;
}
